/*---------------------轮播图样式----------------------------*/
body{
	background-color:#f8f8f8;
}
.s-fixed{
    position: fixed;
}
.swiper-container {
	width: 100%;
	height:260px;
}
.swiper-container img {
	display: block;
	width: 100%;
	height:100%;
}

/*---------------------页面数据加载未成功时不显示标签------------------------*/
[v-cloak]{
	display:none;
}
/*---------------------下拉刷新默认隐藏------------------------*/
.s-refresh__layer{
	display:none;
}
/*--------------------------页面初始化加载中动画-------------------------*/

.loading{
	width: 100%;
	height: 100%;
	z-index:400;
	top:0;
	position: fixed;
	background-color: #f8f8f8;
}
.loading_box {
  width: 80px;
  position: absolute;
  top: 40%;
  left:40%;
  line-height: 80px;
  text-align: center;
  border-radius: 15px; 
  height: 80px;
  background-color: #ffffff;
  
}

.loading_box>div {
  display: inline-block;
  vertical-align:middle; 
}
.loading3 {
  width:10px;
  height: 10px;
  background: #f6a623;
  border-radius: 50%;
  margin-left: 8px;
}

.loading3_1 {
  -webkit-animation: loading3 1s linear infinite alternate;
  animation: loading3 1s linear infinite alternate;
}

.loading3_2 {
  -webkit-animation: loading3 1s linear infinite alternate;
  animation: loading3 1s linear infinite alternate;
  animation-delay: 0.5s;
}

.loading3_3 {
  -webkit-animation: loading3 1s linear infinite alternate;
  animation: loading3 1s linear infinite alternate;
  animation-delay: 1s;
}

@-webkit-keyframes loading3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loading3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/*----------------------------首页主题代码----------------------------------------*/
/*标题*/
.s-item-list{
	width:90%;
	margin:16px 5% 0px 5%;
}
.s-header-text{
	height:32px;
	font-size:0.8rem;
	font-weight:bold;
	font-style:italic;
	background:-webkit-linear-gradient(left, #04BE02 , #2d8cf0);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	border-bottom:1px #D8D8D8 solid;
}
/*列表*/
.s-item-box{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:53px;
	
}
.s-item-info {
	min-height:200px;
	width:49%;
	border-radius:5px;
	background-color:#eee;
	margin:10px 0 0 0;
}
.s-item-image{
	width:100%;
	height:140px;
}
.s-item-bottom {
	width:94%;
	margin:0 auto;
	font-size:0.7rem;
	padding-bottom:5px;
}
.s-item-text {
	min-height:60rpx;
	word-break:break-all;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow:hidden;
	line-height:150%;

}
.s-item-money {
	display:flex;
	justify-content:space-between;
	padding-top:5px;
}
.s-item-money-now{
	color:#FF4E22;
}
.s-item-money-before{
	color:#999;
	text-decoration:line-through;
}
.s-item-money-volume{
	color:#999;
}




