{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>编辑商品分类</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
		<input name="id" value="{$info.id}" type="hidden"/>
		<div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-4">
                <input type="text" maxlength="4" lay-verify="required" name="name" value="{$info.name}" placeholder="请输入分类名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('order')}</label>
            <div class="layui-input-4">
                <input type="text" onkeyup="this.value=this.value.replace(/\D/gi,&quot;&quot;)" maxlength="11" lay-verify="required" name="sort" value="{$info.sort}" placeholder="从小到大排序" class="layui-input">
            </div>
        </div>
		
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" id="submit" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script>
        layui.use(['form', 'layer','upload'], function () {
            var form = layui.form, $ = layui.jquery, upload = layui.upload;
            form.on('submit(submit)', function (data) {
				$("#submit").attr({ disabled: "disabled" });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("", data.field, function (res) {
                    layer.close(loading);
					if (res.errorCode == 8888) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                           location.href = res.url;
                        });
                    }else {
						$("#submit").removeAttr("disabled");
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            });
        });
    
</script>